// COLORS
$color-black: #000;
$color-white: #fff;
$color-background: #a28089;
$color-font:  #51e2f5;
$color-card-background: #034C65;
$color-audio-panel: #FCB677;
$color-audio-button: #EF8C86;
$color-audio-dark: #2F1F2B;

// FONT
$default-font-size: 1.6rem;
